export(cuasm_read)
export(cuasm_kernels)
export(cuasm_insns)
export(cuasm_set)
export(cuasm_write)
export(cuasm_save_cuasm)
export(cuasm_roundtrip_check)
export(cuasm_sections)
# bench measurement API (issue #134)
export(capture_gpu_state)
export(classify_meta)
export(decode_throttle)
export(summarise_meta)
export(run_bench)
export(parse_throughput)
export(validate_sample)
export(collect_valid_samples)
export(report_median_metrics)
export(append_jsonl_row)
export(read_jsonl)
